
@import url('https://fonts.googleapis.com/css2?family=Shizuru&family=Source+Sans+Pro&display=swap');
body{
    /* Rectangle 1 */
position: relative;
width: 500px;
height: 614px;
font-family: 'Shizuru', cursive;
background: #FFFFFF;
}
.frame5{
  /* Frame 5 */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 30px;

position: relative;
width: 444px;
height: 57px;

}
.vidsum{
  /* VidSum */
position: static;
width: 107px;
height: 41px;
left: 30px;
top: 8px;
background: url(Vidsum.png);
background-repeat: no-repeat;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 40px;

color: #000000;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;
}
.pp{
  position: static;
width: 105px;
height: 21px;
left: 309px;
top: 18px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 19px;

color: #9C9898;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 20px;
}
.group1{
  position: relative;
width: 318px;
height: 264px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
}
.rectangle5{
  position: relative;
  margin-left: auto;
  margin-right: auto;
width: 318px;
height: 264px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 44px;
}
.frame1{
  /* Frame 1 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
position: absolute;
width: 260px;
height: 39px;
}
.img{
  position: relative;
  margin-left: auto;
  margin-right: auto;
width: 170px;
height: 170px;
background: url(img1.png);

}
.frame2{
  /* Frame 2 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;

position: relative;
width: 435px;
height: 56px;
}
.rectangle4{
  /* Rectangle 4 */
position: static;
width: 160px;
height: 2px;
left: 39px;
top: 27px;

background: #7B7A7A;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.rectangle3{
  /* Rectangle 3 */
position: static;
width: 160px;
height: 2px;
left: 236px;
top: 27px;

background: #7B7A7A;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 0px 10px;
}
.or{
  /* or */


position: static;
width: 17px;
height: 24px;
left: 209px;
top: 16px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;
}
.group2{
position: relative;
width: 318px;
height: 78px;
align-items: center;
align-content: center;
margin-left: auto;
margin-right: auto;
}
.text{
  /* Frame 3 */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 1px;
position: relative;
width: 194px;
height: 44px;
margin-left: auto;
margin-right: auto;

}
.button1{
  /* Frame 4 */
display: flex;
color: #FFFFFF;
margin-left: auto;
margin-right: auto;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1px;
position: relative;
width: 318px;
height: 35px;
background: #D99837;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.frame6{
  /* Frame 6 */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px;
position: relative;
width: 254px;
height: 40px;
margin-left: auto;
margin-right: auto;

}
.rectangle2{
  /* Rectangle 2 */
position: static;
width: 500px;
height: 84px;
background: #D99837;
margin: 5px;
margin-left: auto;
margin-right: auto;
}
.about{
  /* About */
position: static;
width: 62px;
height: 24px;
left: 10px;
top: 8px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.terms{
position: static;
width: 164px;
height: 24px;
left: 80px;
top: 8px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

text-align: center;

color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;
}